body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(16, 205, 252)
}

.title {
    width: 50%;
}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
    width: 50%;
}


.main-body-container {
    display: flex;
    flex-direction: row;
}

.region-sidebar {
    background-color:rgb(66, 216, 128);
    width: 300px;
}

.flag-container {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    width: 1050px;
    height: 600px;
    border: 5px black solid;
    background-color: rgb(245, 168, 168);
}

.card {
    align-self: center;
    justify-self: center;
    
}

.flag-image {
    margin-left: 20%;
    max-width: 60%;
    height: auto;
}

.country {
    text-align: center;
}


