body {
    font-family: 'Dosis', sans-serif;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(10, 97, 228);
    padding-left: 15px;
    height: 90px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

.selectContinent {
    width: 400px;
}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
    width: 450px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* MAIN BODY CONTAINER*/

.main-body-container {
    display: flex;
    flex-direction: row;
}

.flag-container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 3fr 3fr 3fr;
    height: 520px;
    background-color: rgb(76, 203, 253);
    border-top: 3px black solid;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* INDIVIDUAL CARDS */
.card {
    align-self: center;
    justify-self: center;
    background-color: rgb(76, 203, 253);
    height: 100%;
}

.card:hover {
    align-self: center;
    justify-self: center;
    background-color: rgb(46, 159, 204);
    height: 100%;
}

.flag-image {
    margin: auto 20% auto 20%;
    max-width: 60%;
    height: auto;
    pointer-events: none;
}

.country {
    font-weight: 600;
    text-align: center;
    pointer-events: none;
}


