body {
    font-family: 'Montserrat', sans-serif;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(16, 205, 252);
    padding-left: 15px;
    height: 90px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

.selectContinent {
    width: 400px;
}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
    width: 450px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* MAIN BODY CONTAINER - SIDEBAR AND CARD CONTAINER*/

.main-body-container {
    display: flex;
    flex-direction: row;
}

.flag-container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    height: 520px;
    border-top: 3px black solid;
    background-color: rgb(130, 248, 242);
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* INDIVIDUAL CARDS */
.card {
    align-self: center;
    justify-self: center;
    background-color: rgb(76, 203, 253);
    
}

.flag-image {
    margin-left: 30%;
    max-width: 40%;
    height: auto;
}

.country {
    text-align: center;
}


